@font-face {
  font-family: 'Montserrat-Light';
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
}

::-webkit-input-placeholder {
  color: #1D1E3B;
}

:-ms-input-placeholder {
  color: #1D1E3B;
}

::placeholder {
  color: #1D1E3B;
}

input:focus {
  outline: none;
}

body {
  
  padding: 0 40px;
  margin: 0;
  min-height: 100vh;
}

body#gradient-background{
  background-image: linear-gradient(to right, #F0FCFF, #fdf4f6);
}

#header {
  padding: 30px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 20px 0;
  transform: rotate(180deg);
}
#header #menu {
  margin-left: 120px;
}

#header #menu li {
  display: inline;
  font-family: 'Montserrat-Medium';
  margin-right: 10px;
}

#header #menu li:first-child::before {
  opacity: 0;
}

#header #menu li::before {
  content: '•';
  font-size: 10px;
  margin-right: 10px;

}

#header #menu li a {
  font-size: 12px;
  color: #1D1E3B;
  text-decoration: none;

  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

#header #menu li a::after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #1D1E3B;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#header #menu li a:hover::after { 
  width: 100%; 
  left: 0%; 
}

#header #actions {
  display: flex;
  justify-content: space-between;
}

a.light-button, a.dark-button, 
a.blue-button, a.white-button, 
a.black-button {
  width: 120px;
  height: 50px; 
  
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  font-family: 'Montserrat-Medium';
  font-size: 12px;
}

.light-button {
  color: #1D1E3B;
}

.dark-button {
  color: #ffffff;
  background: #1D1E3B;
}

.dark-button:hover {
  background: #2c2c3f;
}

.blue-button {
  color: #1D1E3B;
  background: #abd8e4;
}

.blue-button:hover {
  background: #c2e0e9;
}

.white-button {
  color: #1D1E3B;
  background: #fff;
}

.white-button:hover {
  background: #fffdfd;
}

.black-button {
  color: #ffffff;
  background: #000;
}

.black-button:hover {
  background: #1b1b1b;
}

#home {
  display: flex;
  justify-content: space-between;
}

#home #about {
  width: 400px;
  padding: 60px 0 0 80px;
}

#home #about h3 {
  font-family: 'Montserrat-Medium';
  font-size: 16px;
}
#home #about h3::before {
  content: "";
  display: inline-block;
  width: 40px;
  border-bottom: 2px solid #1D1E3B;
  margin: 0 10px 4px 0;
}

#home #about h1 {
  width: 400px;
  font-size: 46px;
  font-family: 'Montserrat-SemiBold';
  color: #1D1E3B;
  padding: 0;
  margin: 0;
}

#home #about h2 {
  width: 420px;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
  color: #1D1E3B;
  padding: 40px 0 0 0;
  margin: 0;
  line-height: 30px;
}

#home #about .actions {
  display: flex;
  padding: 60px 0 0 0; 
}

#home #about .actions a{
  width: 130px;
  height: 45px; 
  
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  cursor: pointer;
  font-family: 'Montserrat-Medium';
  font-size: 15px;
}

#home #about .actions .dark-button{
  background: #1D1E3B;
  color: #fff;
}

#home #about .actions .light-button{
  width: 160px;
  color: #1D1E3B;
}

#home #about .actions .light-button img {
  padding: 0 0 0 10px;
  width: 20%;
}

#home #search {
  position: relative;
  width: 565px;
  padding: 60px 0 0 0;
}

#home #search #container-search {
  position: absolute;
  top: 80px;
  right: 90px;
}

#home #search #container-search #search-building{
  width: 250px;
  height: 45px;
  border-radius: 30px;
  border: 0px solid #fff;
  padding-left: 15px;
  color: #1D1E3B;
  font-family: 'Montserrat-Medium';
  font-size: 12px;
  letter-spacing: 0px;
}

#home #search #container-search #search-building:focus {
  outline: none;
}

#home #search #container-search img {
  position: absolute;
  right: 3px;
  top: 4px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#home #search #container-images{
  display: flex;
  width: 420px;
  height: 395px;
}

#container-images #container-left{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 60px;
  width: 50%;
  height: 100%;
}

#container-left #image-1 { 
  width: 100%;
  height: 30%;
  padding: 0 0 10px 0;
}

#container-left #image-2 { 
  width: 100%;
  height: 70%;
}

#container-images #container-right{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  width: 50%;
  height: 100%;
}

#container-right #image-3 { 
  width: 100%;
  height: 70%;
  padding: 0 0 10px 0;
}

#container-right #image-4 { 
  width: 100%;
  height: 30%;
}

#container-images #container-overflow { 
  position: absolute;
  top: 300px;
  right: 370px;
}

section#messages {
  padding: 120px 0 0 70px;
}

#messages h2 {
  font-size: 40px;
  font-family: 'Montserrat-SemiBold';
  color: #1D1E3B;
  margin: 0;
  text-align: center;
}

#messages form {
  display: flex;
  padding: 30px 0 0 0;
  justify-content: center;
}

#messages form input {
  width: 250px;
  height: 45px;
  border-radius: 30px;
  border: 0px solid #fff;
  padding-left: 15px;
  color: #1D1E3B;
  font-family: 'Montserrat-Medium';
  font-size: 12px;
  letter-spacing: 0px;
}

#footer {
  padding: 140px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
}

#footer #questions {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: flex-start;
}

#footer #questions img {
  width: 50px;
  height: 50px;
  border-radius: 200px;
}

#footer #questions p {
  margin: 0;
}

#footer #questions p span.title {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  display: block;
}

#footer #questions p span.description {
  margin: 3px 0 0 0;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  display: block;
  cursor: pointer;
}

#footer #social-midias{
  margin: 10px 0 0 0;
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  display: flex;
}

#footer #social-midias p span{
  cursor: pointer;
}

#footer #social-midias a{
  margin: 0 0 0 40px;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Montserrat-Regular';
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;
}

.close-modal {
  position: absolute;
  width: 30px;
  right: 0;
  top: 0;
  text-align: center;
  margin: 5px 5px 0 0;
  font-size: 22px;
  color: #1D1E3B;
  text-decoration: none;
}

.modal h2{
  font-family: 'Montserrat-Regular';
  color: #2c2c3f;
  text-align: center;
}

.modal h3 {
  font-family: 'Montserrat-Regular';
  font-size: 18px;
  color: #2c2c3f;
  text-align: center;
  
}

.modal h4 {
  font-family: 'Montserrat-Light';
  color: #2c2c3f;
  font-size: 16px;
  text-align: center;
}